
<main class="container">
    <form method="post">
        <fieldset class="form-group">           
            <legend>update incident: <%=incident.recordNumber%></legend>
            <label for="title">Title: </label>
            <input name="title" value="<%=incident.title%>" required />

            <label for="description">Description:</label>
            <textarea name="description" required><%=incident.description%></textarea>

            <label for="priority">Priority</label>
            <%-
                renderSelect({ 
                    name: "priority",
                    options: constants.incidents.priorities, 
                    selected: incident.priority
                })
            %>

            <label for="status">Status</label>
            <%-
                renderSelect({ 
                    name: "status", 
                    options: constants.incidents.statuses, 
                    selected: incident.status 
                })
            %>

            <label for="narrative">Narrative/Resolution</label>
            <textarea name="narrative" required></textarea>

            <button type="submit">Update Incident</button>
        
        </fieldset>
    </form>
</main>
