<main class="container" style="margin-top:25px">
    <style>
        fieldset {
            box-sizing: border-box;
        }
        label, button {
            margin-top: 25px;
        }
        input {
            width: 100%;
            box-sizing: border-box;
        }
    </style>
    <form method="post">
        <fieldset class="form-group">           
            <legend style="text-align: right; font-size: 25px;">Update Incident: <%=incident.recordNumber%></legend>
            <label for="title">Title: </label>
            <input value="<%=incident.title%>" required />

            <label for="customer">Customer: </label>
            <input value="<%=incident.customer%>" required />

            <label for="description">Description:</label>
            <textarea name="description" required><%=incident.description%></textarea>

            <label for="priority">Priority</label>
            <%-
                renderSelect({ 
                    name: "priority",
                    options: constants.incidents.priorities, 
                    selected: incident.priority
                })
            %>

            <label for="status">Status</label>
            <%-
                renderSelect({ 
                    name: "status", 
                    options: constants.incidents.statuses, 
                    selected: incident.status 
                })
            %>
            <button type="submit">Update Incident</button>
        
        </fieldset>
    </form>
</main>
