<main class="container">
        <fieldset class="form-group">           
            <legend>view incident: <%=incident.recordNumber%></legend>
            <label for="title">Title: </label>
            <p name="title"><%=incident.title%>"></p>

            <label for="customer">Customer: </label>
            <p name="customer"><%=incident.customer%></p>

            <label for="description">Description:</label>
            <p name="description"><%=incident.description%></p>

            <label for="priority">Priority</label>
            <p name = "priority"><%= incident.priority %></p>

            <label for="status">Status</label>
            <p name="status"><%= incident.status %></p>
  
        </fieldset>

</main>
