<!-- Main Content -->
<main>
    <% if (user != null)  { %>
    <a href="incidents/new">
        <button style="width: 100%;  border-radius: 16px; font-size: 25px;"> 
            Create Incident
        </button>
    </a>

    <h1>Incident Dashboard</h2>   
    <table>
        <!-- Header Row-->
        <tr>
            <th class="htitle">Title</th>
            <th class="hdesc">Description</th>
            <th>Priority</th>
            <th></th>
            <th></th>
        </tr>

        <!-- Repeatable Template Row -->
        <% for(let count = 0; count < incidentsData.length; count++) { %>
          <tr onclick="window.location='/incidents/<%= incidentsData[count]._id %>/edit';">
                <td  class="tabletitle"><%= incidentsData[count].title %></td>
                <td><%= incidentsData[count].description %></td>
                <td><%= incidentsData[count].priority %></td>
                <td>
                    <a class="button" href="/incidents/<%= incidentsData[count]._id %>/edit">Update</a>
                </td>
                <td>
                    <a class="button" href="/incidents/<%= incidentsData[count]._id %>/delete">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <% } %>
</main>
